@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root {
  --pink: hsl(322, 100%, 66%);

  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
}

* {
  box-sizing: border-box;
}

/* General Styles */
body {
  font-family: 'Open Sans', sans-serif; /*Body, Call-to-actions*/
  margin: 0;
  color: var(--very-dark-cyan);
  font-size: 1.15em;
}

h1,
h2 {
  font-family: 'Poppins', sans-serif; /*Heading*/
}

p {
  opacity: 0.6;
}

img {
  max-width: 100%;
}

.btn {
  border: none;
  border-radius: 50px;
  background-color: #fff;
  font-size: 16px;
  padding: 15px 60px;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.btn:hover {
  opacity: 0.5;
}

.btn-primary {
  background-color: var(--pink);
  color: #fff;
}

.container {
  width: 1000px;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex > div,
.flex > ul {
  flex: 1;
}

.align-start {
  align-items: flex-start;
}

header {
  background-image: url(./images/bg-hero-desktop.svg);
  background-size: cover;
  background-position: center center;
  background-color: var(--very-pale-cyan);
  padding: 40px 0;
  margin-bottom: 100px;
}

nav {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.header-img {
  width: 80%;
  margin-left: 20%;
}

.box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  margin: 40px 0;
  padding: 60px;
  background-color: #fff;
}

.small-box {
  display: inline-block;
  margin-bottom: -50%;
  position: relative;
  z-index: 1;
}

.box img {
  width: 80%;
}

footer {
  background-color: var(--very-dark-cyan);
  color: #fff;
  padding: 180px 0 60px;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  margin-bottom: 20px;
}

footer .circle {
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

footer p {
  text-align: right;
}

.attribution {
  font-size: 12px;
  text-align: center;
  margin-bottom: -40px;
}
.attribution a {
  color: hsl(229, 100%, 88%);
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  body {
    text-align: center;
  }

  nav.flex {
    flex-direction: row;
  }

  .header-img {
    margin-top: 40px;
    margin-left: 0;
    width: 100%;
  }

  .flex {
    flex-direction: column;
  }

  footer .social-media {
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .box-reverse-mobile.flex {
    flex-direction: column-reverse;
  }

  footer .container {
    text-align: left;
  }

  footer ul {
    width: 100%;
    padding: 0;
  }

  footer p {
    text-align: center;
  }
}
